.profileTitle {
font-family: Inter;
font-size: 18px;
font-weight: 400;
@media screen and (min-width: 768px) {
  font-size: 25px;
    }
}
.profileContainer {
    
@media screen and (min-width: 768px) {
    display: flex;
    gap: 18px;
    margin-right: 90px;
      }
@media screen and (min-width: 1200px) {
  margin-right: 0;  
  gap: 100px;
          }
}