.title {
    text-align: center;
    margin-bottom: 20px;
}

table.iksweb{
	max-width: 320px;
    margin-left: 40px;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    color: #0b131a;
    background: #fff;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-left: 0;
    } 
}
table.iksweb,table.iksweb td, table.iksweb th {
    position: relative;
	border: 1px solid #486581;
}
table.iksweb td,table.iksweb th {
	padding: 8px;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

.oneRow {
    position: relative;
    width: 30px;
    text-align: center;
    @media screen and (min-width: 768px) {
        width: 40px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 60px; 
    }
}

.threeRow {
    width: 15px;
    text-align: center;
    @media screen and (min-width: 768px) {
        width: 70px; 
    } 
    @media screen and (min-width: 1200px) {
        min-width: 120px; 
    }
}

.titleRow {
    font-size: 12px;
    font-weight: 800;
    @media screen and (min-width: 768px) {
        font-size: 20px;; 
    } 
}

.threeSix {
    position: relative;
    width: 15px;
    text-align: center;
    @media screen and (min-width: 768px) {
        width: 90px; 
    }
    @media screen and (min-width: 1200px) {
        min-width: 120px; 
    } 
}

.input {
    width: 100%;
    border-width: 0;
    text-align: center;
    
}

.inputTitle {
    width: 100%;
    border-width: 0;
    background-color: #fff;
    }

    .linksList {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }