.title {
    margin-top: 50px;
    margin-bottom: 30px;
    color:  #0b131a;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400; 
    text-align: center; 
}

.buttonAdd {
    background: transparent;
    border-color: transparent;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
        margin-left: 400px;
    }
}

.buttonAdd svg {
    fill: black;
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1); 
     &:hover, &:focus {
      fill: #334E68;    
      } 
 }

.buttonDelete {
    position: absolute;
    top: 2px;
    right: 2px;
    margin-right: 10px;
    padding: 0;
    border-color: transparent;
    background: transparent;
    @media screen and (min-width: 768px) {
        margin-right: 20px;  
    } 
}
.buttonDelete svg { 
    fill: #486581;
    &:hover, &:focus {
    fill: #0b131a;
    }
}


table.iksweb{
	width: 300px;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    color: #0b131a;
    background-color: #fff;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    @media screen and (min-width: 768px) {
        width: 100%; 
    }
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #486581;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

.tableMin {
    font-size: 15px;
    font-weight: 800;
    @media screen and (min-width: 768px) {
        font-size: 20px; 
    }
   

}

.rowOne {
    position: relative;
    width: 200px;
    @media screen and (min-width: 768px) {
        width: 700px; 
    }
}

.twoRow {
    position: relative;
    text-align: center;
}

.buttonsContainer {
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.input {
    min-width: 90%;
    height: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
    color: var(--Blue-Grey-Blue-Grey-400, #829AB1);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
background: var(--Blue-Grey-Blue-Grey-050, #F0F4F8);
@media screen and (min-width: 768px) {
    // width: 600px;
    height: 35px;
} 
@media screen and (min-width: 1200px) {
    // width: 700px;
    height: 40px;
}    
}

.inputTitle {
    width: 90%;
    margin-left: 30px;
    border-width: 0;
    background-color: #fff;
    }
    .inputPrice {
        width: 90%;
        border-width: 0;
        text-align: center;
        
    }

    .buttonUpdate {
        position: absolute;
        top: 2px;
        left: 2px;
        padding: 2px;
        background: transparent;
        border-color: transparent;
        border-radius: 50%;
        color:#486581;
    
        &:hover, &:focus {
        color: #fff;
          background: #347c99;   
        }
    }
    
    .buttonUpdate svg{
        fill: currentColor;
    
    } 
  .unitButtons {
    display: flex;
    justify-content: space-between;
  }
    .deleteUnit {
        padding: 2px;
        margin-right: 5px;
        background: transparent;
        border-color: transparent;
        border-radius: 50%;
        color:#486581;
    
        &:hover, &:focus {
        color: #fff;
          background: #347c99;   
        }  
    }

    .deleteUnit svg {
        fill: currentColor;
    }

    //modal delete

    .deleteModalContainer {
        max-width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 5px;
        background: #334E68;
        border: 2px solid #347c99;
        border-radius: 5px;
        z-index: 22;
    }

    .deleteModalContainer h4 {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
        color: #F0F4F8;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .buttonContainer button {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #F0F4F8; 
        background: transparent;
        border: 1px solid #F0F4F8;
        border-radius: 2px;
        &:hover, &:focus {
            background-color: #F0F4F8;
            color: #0b131a;

        }
    }