.menuButton {
    position: absolute;
    display: inline-block;
    z-index: 6;
    padding: 30px 60px;
    top: 80px;
    left: -20px;
    border: none;
    background: #fff;
    @media screen and (min-width: 768px) {
        padding: 30px 100px;
        left: -30px; 
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
  
    
.links li {
 margin-bottom: 10px;   
   
}