
  a {text-decoration: none;}
  ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
  }
  h1, h2, h3, p {
  margin: 0px;}
  p {
  padding: 0px;
  margin: 0px;}
  img {
  display: block;
  margin: 0px;
  padding: 0px;
}
body {
  background: linear-gradient(90deg, rgba(207, 204, 204, 1) 22%, rgba(230, 255, 252, 1) 53%, rgba(230, 230, 230, 1) 100%);
}

  .link-min {
   color:  #035388;
  }
  .link{
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color:  #243B53;
  }


  .link:hover, 
  .link:focus {
    color:  #035388;
  }